[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    G32                            ; home all axes
    BED_MESH_CALIBRATE ADAPTIVE=1
    G1 Z20 F3000                   ; move nozzle away from bed 
#   PRIME_LINE
    G90                           ; go to absolute mode. When cancelled prints, next print was failing with "move out of range". Probably print cancelling leaves the printer in relative mode. Issue doesn't appear when printer is freshly booted
    G0 X250 Y5 Z0.28 F9000
    G92 E0                        ; Reset extruder
    G1 E7 F600
    G1 X50 E30 F1500              ; Move to X50 while extruding 30mm of filament with 1500 feedrate
    G1 E34 F600
    G1 Z5.0 F1500
    G92 E0
    G1 Z2.0 F3000                 ; Move Z Axis up
    G1 E-0.5 F3600
    G0 X150 Y150 F9000
#   Play Musing
    M300 S1319 P30
    M300 S1760 P30
    M300 S2349 P70
    TEMP_MONITOR_START
    SAY S="Print is starting"     ; Remove this line of you don't have Talking Voron (https://github.com/EvripB/3Dprinting/tree/main/Voron/Talking%20Voron)

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TEMP_MONITOR_STOP
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    #BED_MESH_CLEAR
    M300 S1319 P70
    M300 S1568 P90
    G4 P80
    M300 S1319 P70
    M300 S988  P140
    SAY S="Print completed"

[gcode_macro PRIME_LINE]
gcode: 
    M117 Prime Line
    G92 E0 ;Reset Extruder
    # move z axis 
    G1 Z2.0 F3000 ;Move Z Axis up
    # move to prime position 
    G1 X5 Y30 Z0.28 F5000.0 ;Move to start position
    G1 X5 Y200.0 Z0.28 F1500.0 E25 ;Draw the first line
    G1 X7 Y200.0 Z0.28 F5000.0 ;Move to side a little
    G1 X7 Y50 Z0.28 F1500.0 E30 ;Draw the second line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up

[gcode_macro G32]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        #{action_respond_info("printer not home. Homing...")}
        G28
    {% endif %}

    {% if printer.quad_gantry_level.applied == 0 %}
        #{action_respond_info("printer not QGL. QGLing...")}
        QUAD_GANTRY_LEVEL
    {% endif %}

#    5/2/2026 commented everything BED_MESH-related out to switch to ADAPTIVE. If no object is about to be printed, adaptive bed mesh can't work so BED_MESH_CALIBRATE has been moved to PRINT_START
#    {% if printer.bed_mesh.profile_name == '' %}
#        #{action_respond_info("no bed mesh loaded. Performing BED_MESH_CALIBRATE")}
#        BED_MESH_CALIBRATE ADAPTIVE=1 #added "ADAPTIVE=1" to use Adaptive Bed Mesh option of Klipper
#    {% endif %}

    #G28
    ##	Uncomment for for your size printer:
    #--------------------------------------------------------------------
    ##	Uncomment for 250mm build
    #G0 X125 Y125 Z30 F3600
    
    ##	Uncomment for 300 build
    G90                            ; Go to absolute mode, otherwise printer tries to move X to 359 (209 from z-endstop + 150 from the below movement meant to move the printhead to the center. Same for Y)
    G28
    G0 X150 Y150 Z20 F3600
    
    ##	Uncomment for 350mm build
    #G0 X175 Y175 Z30 F3600
    #--------------------------------------------------------------------

[gcode_macro ForceG32]
gcode:
    G28
    QUAD_GANTRY_LEVEL
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE

[gcode_macro SERVICE]
gcode:
    G90                      ; absolute positioning
    G0 X235 Y20 Z35 F3600    ; move to X235 Y20 Z35

[gcode_macro PrimeNozzle]
gcode:
    M83
    G1 E40 F600
    G1 E-5 F600
    G1 E40 F600
    G1 E-5 F600
    G1 E40 F600
    G1 E-5 F600
    G1 E40 F600
    G1 E-5 F600
    G1 E40 F600
    G1 E-5 F600


[gcode_macro LUBE_RAILS]
description: Continuous diagonal moves where X,Y,Z all move every segment (CoreXY + Z rails)
# Usage example:
#   LUBE_RAILS REPEATS=5 SPEED=120 Z_MIN=20 Z_MAX=200 MARGIN=5 ACCEL=6000 ACCEL_TO_DECEL=3000
gcode:
    # -------- Parameters (with defaults) --------
    {% set speed   = params.SPEED|default(120)|float %}
    {% set repeats = params.REPEATS|default(1)|int %}
    {% set zmin    = params.Z_MIN|default(20)|float %}
    {% set zmax    = params.Z_MAX|default(200)|float %}
    {% set margin  = params.MARGIN|default(5)|float %}
    {% set accel   = params.ACCEL|default(6000)|float %}
    {% set a2d     = params.ACCEL_TO_DECEL|default(3000)|float %}

    # -------- Derived values --------
    {% set xmin = margin %}
    {% set ymin = margin %}
    {% set xmax = printer.toolhead.axis_maximum.x - margin %}
    {% set ymax = printer.toolhead.axis_maximum.y - margin %}
    {% set f_xyz = speed * 60 %}

    M400
    G90

    # Home if needed
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}

    # Basic sanity clamps (optional but recommended)
    {% if repeats < 1 %}
        {action_raise_error("REPEATS must be >= 1")}
    {% endif %}
    {% if zmax <= zmin %}
        {action_raise_error("Z_MAX must be > Z_MIN")}
    {% endif %}
    {% if xmax <= xmin or ymax <= ymin %}
        {action_raise_error("MARGIN too large for bed size")}
    {% endif %}

    # Move to start
    G1 X{xmin} Y{ymin} Z{zmin} F{f_xyz}

    # Set motion limits
    SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={a2d}

    # Pattern
    {% for i in range(repeats) %}
        G1 X{xmax} Y{ymax} Z{zmax} F{f_xyz}
        G1 X{xmin} Y{ymin} Z{zmin} F{f_xyz}

        G1 X{xmin} Y{ymax} Z{zmax} F{f_xyz}
        G1 X{xmax} Y{ymin} Z{zmin} F{f_xyz}
    {% endfor %}

    # Park
    G1 X{(xmax + xmin)/2} Y{(ymax + ymin)/2} Z{zmin} F{f_xyz}
    M400

[gcode_macro TEST_BELTS]
gcode:
  {% if 'x' not in printer.toolhead.homed_axes %}
  {% if 'y' not in printer.toolhead.homed_axes %}
  G28 X Y 
  {% endif %}
  {% endif %}
 
  {% set circles = params.S|default(1)|int %}
  {% set rate = params.F|default(18000)|int %}
  {% for i in range(circles) %}
      G1 X{printer.toolhead.axis_minimum.x + 15} Y{printer.toolhead.axis_minimum.y + 15}  F{rate}
      G1 X{printer.toolhead.axis_maximum.x - 15} Y{printer.toolhead.axis_minimum.y + 15}  F{rate}
      G1 X{printer.toolhead.axis_maximum.x - 15} Y{printer.toolhead.axis_maximum.y - 15} F{rate}
      G1 X{printer.toolhead.axis_minimum.x + 15} Y{printer.toolhead.axis_maximum.y - 15}  F{rate}
      G1 X{printer.toolhead.axis_minimum.x + 15} Y{printer.toolhead.axis_minimum.y + 15}  F{rate}
    {% endfor %}
    G1 X{ printer.toolhead.axis_maximum.x / 2  } Y{printer.toolhead.axis_maximum.y  /2}  F{rate}

[gcode_macro TEMP_MONITOR_START]
description: Start monitoring hotend temperature
gcode:
    UPDATE_DELAYED_GCODE ID=temp_watchdog DURATION=5

[gcode_macro TEMP_MONITOR_STOP]
description: Stop monitoring hotend temperature
gcode:
    UPDATE_DELAYED_GCODE ID=temp_watchdog DURATION=0

[delayed_gcode temp_watchdog]
gcode:
    {% set target = printer.extruder.target|float %}
    {% set actual = printer.extruder.temperature|float %}
    {% set threshold = 3 %}

    {% if target > 0 and (target - actual) >= threshold %}
        M300 S2000 P150
        M300 S1200 P150
        M300 S2000 P150
        M300 S1200 P150
        M300 S2000 P150
        M300 S1200 P150
        M300 S2000 P150
        M300 S1200 P150
        M300 S2000 P150
        M300 S1200 P150
        G4 P1500
        SAY S="warning! warning! Hotend temperature too low!"
    {% endif %}

    UPDATE_DELAYED_GCODE ID=temp_watchdog DURATION=5

[gcode_macro SAY]
gcode:
    {% set s = params.S|default("") %}
    {% if s == "" %}
        {action_respond_info('Usage: SAY S="your text here"')}
    {% else %}
        RUN_SHELL_COMMAND CMD=RUNSAY PARAMS="{s}"
    {% endif %}

[gcode_shell_command RUNSAY]
command: /home/pi/talking_voron/say.sh
timeout: 30.0
verbose: True