[Unit]
Description=Text-to-Speech Web Server
After=network.target

[Service]
ExecStart=/home/pi/talking_voron/venv/bin/python /home/pi/talking_voron/ttsserver.py
WorkingDirectory=/home/pi/talking_voron
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
